<% is_following = current_user.follows?(user) %>

<form action="<%= user_follow_url(user) %>" method="POST">
  <%= render "shared/auth_token" %>


  <% if is_following %>
    <input id='<%=user.id%>' data-follow-state= 'false' type="hidden" name="_method" value="DELETE">

  <% end %>
  
  <button class="follow-toggle" id='<%=user.id%>' 
    data-follow-state= 'true'
  >
    <%= is_following ? "Unfollow!" : "Follow!" %>
  </button>
</form>